.website__header {

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.website__header-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: fixed;
  overflow: hidden;
  
}

.website__header-content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.website__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: black;
}

.website__header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 27px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.website__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.website__header-content__people img {
    width: 181px;
    height: 38px;
}
.website__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 1050px) {
    .website__header {
        flex-direction: column;
    }

    .website__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {

    .website__header h1{
        font-size: 48px;
        line-height: 60px;
    }

    .website__header p{
        font-size: 16px;
        line-height: 24px;
    }

    .website__header-content__people {
        flex-direction: column;
    }

    .website__header-content__people p {
        margin: 0;
    }

    .website__header-content__input input,
    .website__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .website__header h1{
        font-size: 36px;
        line-height: 48px;
    }

    .website__header p{
        font-size: 14px;
        line-height: 24px;
    }

    .website__header-content__input input,
    .website__header-content__input button {
        font-size: 12px;
        line-height: 16px;

    }
}